.input_container {
  z-index: 1;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(5px) brightness(.5);
}
.input_title {
  font-size: xx-large;
}
.landing_input {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: medium;
  z-index: 1;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
.landing_input:focus {
  background: transparent;
  color: white;
}

.landing_image {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}
